<div class="archive">
    <header>
        <h1 class="page-title"><a href="">$title$</a></h1>
        <div class="post-info">
            <span class="ancestors">
              <a href="/">home »</a>
              <a href="/archive.html">posts »</a>
            </span>
        </div>
    </header>

    <ul>
      $posts$
    </ul>
</div>


<a href="http://www.danasoft.com">
 <img src="http://www.danasoft.com/sig/NSA335804.jpg" border="0">
</a>
<div style="font-family:arial,sans-serif;font-size:11px;">
  <p>Sign by Danasoft -
  <a href="http://www.danasoft.com">For Backgrounds and Layouts</a></p>
</div>
